<!DOCTYPE HTML>
<html>
<head>
<title> Products for Sale </title>
	<link rel = "stylesheet" type = "text/css" href = "/css/bootstrap.min.css" /> <!-- [5] BOOTSTRAP -->	
	<link rel = "stylesheet" type = "text/css" href = "/css/universal.css" />
	<script src="cufon/cufon-yui.js" type="text/javascript"></script>
	<script src="cufon/wc-mano-negra.cufonfonts.js" type="text/javascript"></script>
	<!-- [4] CUFON FONTS -->
	<script type="text/javascript">
		Cufon.replace('.wc-mano-negra-bta', { fontFamily: 'WC Mano Negra Bta', hover: true }); 
		Cufon.replace('.wc-mano-negra-bta-bold', { fontFamily: 'WC Mano Negra Bta Bold', hover: true }); 
		Cufon.replace('h1,p,.b-counter,td,a', {fontFamily: "WC Mano Negra Bta"});
	</script>	
</head>

<body>

<table class = "table">
	<tr>
		<td> Name </td> <td> Price </td> <td> Quantity </td> 
	</tr>
	<% @products.each do |thing| %>
	 <tr> 
		 <td> <a href = "purchase_product/<%=thing.id %>" > <%=thing.name %> </a> </td>
		 <td> <%=thing.price %></td>
		 <td>  <%=thing.quantity %> </td>
	 </tr> 
	 <% end %>
</table>
</body>

</html>