<!DOCTYPE HTML>
<html>
<head>
	<title> Transaction Success </title>
	<link rel = "stylesheet" type = "text/css" href = "/css/bootstrap.min.css" />
	<link rel = "stylesheet" type = "text/css" href = "/css/universal.css" />

	<script src="/cufon/cufon-yui.js" type="text/javascript"></script>
	<script src="/cufon/harabarahand.cufonfonts.js" type="text/javascript"></script>
	<script type="text/javascript">
		Cufon.replace('.harabarahand-italic', { fontFamily: 'HarabaraHand Italic', hover: true }); 
		Cufon.replace('h1,p,h2,td,a', {fontFamily: "HarabaraHand Italic"});
	</script>

</head>

<body>
	<h1> Enjoy your purchase! </h1>
	<img src="/images/h1.png" alt="" />
	<h2> Your change is: </h2>
	<p> <%= @calculator.change(@product.price * @qSold) %> </p>
</body>

</html>